<ion-header>
    <ion-toolbar>
        <ion-title>Dia</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Desayuno</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Almuerzo</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Comida</ion-label>
    </ion-item>
    <ion-item>
        <ion-label>Merienda</ion-label>
    </ion-item>
    <ion-item>
        <iont-label>Cena</iont-label>
    </ion-item>
</ion-content>