<ion-header>
    <ion-toolbar>
        <ion-title>Dia</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
    <ion-item>
        <ion-label button (click)="showLunchPage(1)">
            Desayuno
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label button="buttonClick()">
            Almuerzo
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label button="buttonClick()">
            Comida
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label button="buttonClick()">
            Merienda
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-label button="buttonClick()">
            Cena
        </ion-label>
    </ion-item>
</ion-content> -->

<ion-content>
    <ion-item *ngFor="let comida of listaComida; index as id" (click)="showLunchPage(id)" detail>
        <!-- <ion-label>TODO</ion-label> -->
    </ion-item>
</ion-content>