<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Días
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-item button (click)="buttonClick()">
        <ion-label>
            Lunes
        </ion-label>
    </ion-item>
    <ion-item button (click)="buttonClick()">
        <ion-label>
            Martes
        </ion-label>
    </ion-item>
    <ion-item button (click)="buttonClick()">
        <ion-label>
            Miércoles
        </ion-label>
    </ion-item>
    <ion-item button (click)="buttonClick()">
        <ion-label>
            Jueves
        </ion-label>
    </ion-item>
    <ion-item button (click)="buttonClick()">
        <ion-label>
            Viernes
        </ion-label>
    </ion-item>
    <ion-item button (click)="buttonClick()">
        <ion-label>
            Sábado
        </ion-label>
    </ion-item>
    <ion-item button (click)="buttonClick()">
        <ion-label>
            Domingo
        </ion-label>
    </ion-item>
</ion-content>